body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  background-image: url("./img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c87319;
  height: 100vh;
}

canvas {
  background-image: url("./img/img_pollo_locco/9_intro_outro_screens/start/startscreen_1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  cursor: pointer;
}

@font-face {
  font-family: "zabras";
  src: url("./fonts/zabars/ZABARS/Zabars.ttf");
}

@font-face {
  font-family: "indieFlower";
  src: url("./fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 40px 40px 16px 40px;
}

button {
  cursor: pointer;
}

.instruction-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "indieFlower";
}

.instruction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

.instruction-img {
  width: 48px;
  height: 48px;
  margin: 0 -8px;
}

.d-key-instruction-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  gap: 6px;
}

.d-key {
  font-family: Arial, Helvetica, sans-serif;
}

.lnk {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.lnk:hover {
  cursor: pointer;
  color: #6b461f;
}

.turn-device {
  display: none;
}

.turn-device-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 32px;
}

.mobile-steering {
  display: none;
  justify-content: space-between;
  gap: 160px;
}

.mobile-btn-wrap {
  display: flex;
  gap: 32px;
}

.mobile-btn {
  height: 32px;
  width: 32px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d1792b;
}

.mobile-btn:hover {
  cursor: pointer;
}

.mobile-btn-up {
  background-image: url("./icons/arrow_up.svg");
}

.mobile-btn-left {
  background-image: url("./icons/arrow_left.svg");
}

.mobile-btn-right {
  background-image: url("./icons/arrow_right.svg");
}

.mobile-btn-throw {
  background-image: url("./icons/handball.svg");
}

.canvas-subline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}

.btn-mute {
  background-image: url("./icons/volume_off.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  background-color: #d1792b;
  border: none;
}

.btn-mute:hover {
  cursor: pointer;
}

.max-width-1440px {
  max-width: 800px;
}

.body-impressum {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  padding-left: 0;
}

@media (max-width: 1024px) {
  .instruction-wrap {
    display: none;
  }
  .mobile-steering {
    display: flex;
  }
}

@media (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media (max-height: 480px) {
  canvas {
    height: calc(100vh - 32px);
  }
  h1 {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .turn-device {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .canvas-subline {
    display: none;
  }
}
