body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  background-image: url("./img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b45b11;
}

canvas {
  background-image: url("./img/img_pollo_locco/5_background/layers/air.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@font-face {
  font-family: "zabras";
  src: url("./fonts/zabars/ZABARS/Zabars.ttf");
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
